
/.vs/

/Debug/
/Release/
/x64/
/ipch/

/NatLib/Debug/
/NatLib/Release/
/NatLib/x64/

/Pam/bin/
/Pam/obj/

*.user
*.suo
*.sdf
*.aps
*.ncb
*.VC.db
*.VC.opendb
*.opensdf
*.cachefile
*.psess
*.vsp
*.vspx
*.sap
